.project {

    &__title {
        font-size: 404%;
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        transform: translateX(50%);
        span {
            opacity: 0;
            visibility: hidden;
            display: inline-block;
        }
        svg {
            opacity: 0;
            display: none;
            &.transi {
                transition: transform 0.6s $easeToinou;
            }
        }
        &:hover {
            svg {
                transform: translateX(15px) !important;
            }
            .project__more {
            	padding-left: 100px;
            }
            .project__more::after {
            	width: 60px;
            }
        }
    }

    &__number, &__more {
    	position: absolute;
    	color: white;
    	// display: none;
    	opacity: 0;
    }

    &__number {
    	position: absolute;
    	top: -300px;
    	font-size: 50px;
    	left: 5px;
    }

    &__more {
    	left: 0px;
    	padding-left: 0px;
    	font-size: 42px; // in px because resize relative to the scene
    	letter-spacing: 4px;
    	font-family: 'Theinhardt';
	    font-weight: normal;
	    font-style: normal;
		top: 150px;
		opacity: 1;
		transition: padding 0.8s $easeToinou;
		&:after {
			content: '';
			position: absolute;
			width: 0px;
			height: 3px;
			background-color: white;
			left: 0px;
			top: 50%;
			transform: translateY(-50%);
			transition: width 0.8s $easeToinou;
		}
		// font-size: 2em;

    }

    &__arrow {

    }

    &__next, &__prev {
    	position: relative;
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        opacity: 0;
        text-transform: uppercase;

    	font-size: 42px;
    	letter-spacing: 4px;
    	font-family: 'Theinhardt';
        // &.transi {
        //     transition: transform 0.6s $easeToinou;
        // }
        // &:hover {
        //     transform: scale(1.15) !important;
        // }
        hr {
			position: absolute;
			width: 3px;
			height: 120px;
			background-color: white;
			left: 50%;
			top: calc(100% + 40px);
			transform: translateX(-50%);
		}

		span {
			opacity: 0;
			display: block;
		}

		svg {
			display: block;
			margin: 0 auto;
		 	width: 200px;
			height: 200px;
			position: relative;

			polyline,
			circle {
				stroke: white;
			}

			&.is-up {
				.up-1 {
					stroke-dasharray: 100%; // 848;
					stroke-dashoffset: 92%; // 713;
				}
				.up-2 {
					// display: none;
					stroke-dasharray: 100%; // 848;
					stroke-dashoffset: -14%; //  -224
				}
			}

			&.is-down {
				.down-1 {
					stroke-dasharray: 100%;
					stroke-dashoffset: 70%;
				}
				.down-2 {
					stroke-dasharray: 100%;
					stroke-dashoffset: -36%;
				}
			}
		}
    }

    &__prev {
    	hr {
    		// transform: translate(-50%, -100%);
			top: calc(0% - 40px);
		}
    }

    &__prev svg {
    	margin-top: 60px;
    }
    &__next svg {
    	margin-bottom: 60px;
    }


}