$project3D-w : 1075px;

.project {

	&.alt {
	    color: $color-black;
	    .icon {
	        fill: $color-black;
	    }
	}

    .icon {
        fill: $color-white;
    }

    &__container {
    	width: $project3D-w;
        // max-width: 2160px;
        // margin-top: 70px;
        line-height: 1.4em;
        z-index: 10;
        text-align: left;
        user-select: none;
        font-size: 0.8em;
        transform: translateY(50%) !important;
        opacity: 0;

    }

    &__header {
    	width: 100%;
    	display: flex;
		justify-content: space-between;
    	align-items: baseline;
    	margin-bottom: 20px;

    }

    &__date {
    	color: $color-grey;
    }

    &__descr {
    	width: 100%;
    	line-height: 2em;
    	font-family: 'Theinhardt-light';
    }

    &__subHeader {
    	width: 100%;
    	display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-top: 30px;

		font-family: 'Theinhardt-light';
    }

    &__role,
    &__technos,
    &__context {
    	width: 20%;

    	p:first-child {
			margin-bottom: 10px;
    	}

    	p:last-child {
    		color: $color-grey;
    	}
    }

    &__link {
    	width: 40%;
    	display: flex;
    	justify-content: flex-end;
    	align-items: center;

    	span {
    		margin-right: 20px;
    	}

    	a {
    		transform: rotate(90deg);

    	}
    }

    &__gallery {
    	margin-top: 100px;
    	margin-bottom: 60px;
    	position: relative;
        max-width: $project3D-w;
        width: $project3D-w;
    }

    &__image {
		width: 100%;
        // max-height: 300px;
        opacity: 0.9;
        user-select: none;
        visibility: hidden;
        margin-bottom: 40px;

        img {
            width: 100%;
            border: 1px solid rgba(128, 128, 128, 0.15);
            // transform: translateY(50%);
        }
    }

    &__btn {
        cursor: pointer;
    }

    &__footer {
    	opacity: 0;
    	display: flex;
    	justify-content: space-between;
    	align-items: baseline;
    	font-size: 0.8em;
    	text-align: left;
    	width: $project3D-w;
    	position: relative;
    	// transform: translateY(50%);
    }

	&__awards {
		color: $color-grey;
	}

	&__back {
		position: absolute;
		top: 180px;
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		text-transform: uppercase;
		cursor: pointer;

		.button {
			text-transform: none;
			margin-top: 20px;
		}
	}

    &__arrow {
        img {
            width: 40px;
        }
        transition: transform 0.3s ease-out;
        cursor: pointer;
        opacity: 0;
        &:hover {
            transform: scale(1.05) translateX(10px) !important;
        }
        &-l {
            transform: rotate(180deg);
            &:hover {
                transform: scale(1.05) rotate(180deg) translateX(10px) !important;
            }
        }
        &-r {
            width: 30px;
            display: inline-block;
            vertical-align: middle;
            margin-left: 25px;
        }
    }

    &__title {
        font-size: 4.6em;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        white-space: nowrap;
        transform: translateX(50%);
        span {
            opacity: 0;
            visibility: hidden;
            display: inline-block;
        }
        svg {
            opacity: 0;
            &.transi {
                transition: transform 0.6s $easeToinou;
            }
        }
        &:hover {
            svg {
                transform: translateX(15px) !important;
            }
        }
    }

    &__next, &__prev {
        font-size: 40px;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        white-space: nowrap;
        opacity: 0;
        text-transform: uppercase;
        &.transi {
            transition: transform 0.6s $easeToinou;
        }
        &:hover {
            transform: scale(1.15) !important;
        }
    }

    &__prev {
    	display: none;
    }



    .link {
        img {
            width: 40px;
            margin-left: 20px;
            margin-bottom: -5px;
        }
    }

    .gallery {
        &__arrow {
            width: 25px;
            height: 35px;
            display: inline-block;
            cursor: pointer;
            visibility: hidden;
            opacity: 0;
            transition: transform 0.5s $easeToinou;
            &-l {
                transform: rotate(-180deg);
                margin-right: 5px;
                opacity: 0.2;
            }
            &:hover {
                transform: scale(1.05) translateX(-5px) rotate(-180deg) !important;
            }
            &-r {
                // transform: rotate(0deg);
                margin-left: 5px;
                &:hover {
                    transform: scale(1.05) translateX(5px) !important;
                }
            }
        }
    }

    // .details {
    //     &__back {
    //         display: inline-block;
    //         vertical-align: middle;
    //         font-size: 20px;
    //         text-transform: uppercase;
    //         cursor: pointer;
    //         visibility: hidden;
            
    //         .icon {
    //             display: inline-block;
    //             vertical-align: middle;
    //             margin-right: 10px;
    //             width: 20px;
    //             transform: rotate(180deg);
    //             transition: transform 0.5s $easeToinou;
    //         }
    //         &:hover {
    //             .icon {
    //                 transform: scale(1.05) translateX(-10px)  rotate(180deg) !important;
    //             }
    //         }
    //     }
    // }


}