.project {

	&.alt {
	    color: $color-black;
	    .icon {
	        fill: $color-black;
	    }
	}

    .icon {
        fill: $color-white;
    }

	&__context {
        max-width: 600px;
        margin-top: 70px;
        line-height: 1.4em;
        z-index: 10;
        text-align: left;
        opacity: 0;
        user-select: none;
        font-size: 20px;
        h1 {
            font-size: 30px;
        }
    }

    &__image {
        max-width: 600px;
        // max-height: 300px;
        border: 1px solid rgba(128, 128, 128, 0.15);
        opacity: 0.9;
        user-select: none;
        visibility: hidden;
        img {
            width: 100%;
        }
    }

    &__btn {
        cursor: pointer;
    }

    &__arrow {
        img {
            width: 40px;
        }
        transition: transform 0.3s ease-out;
        cursor: pointer;
        opacity: 0;
        &:hover {
            transform: scale(1.05) translateX(10px) !important;
        }
        &-l {
            transform: rotate(180deg);
            &:hover {
                transform: scale(1.05) rotate(180deg) translateX(10px) !important;
            }
        }
        &-r {
            width: 30px;
            display: inline-block;
            vertical-align: middle;
            margin-left: 25px;
        }
    }

    &__title {
        font-size: 80px;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        white-space: nowrap;
        transform: translateX(50%);
        span {
            opacity: 0;
            display: inline-block;
        }
        svg {
            opacity: 0;
            &.transi {
                transition: transform 0.6s $easeToinou;
            }
        }
        &:hover {
            svg {
                transform: translateX(15px) !important;
            }
        }
    }

    &__next {
        font-size: 40px;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        white-space: nowrap;
        opacity: 0;
        text-transform: uppercase;
        &.transi {
            transition: transform 0.6s $easeToinou;
        }
        &:hover {
            transform: scale(1.15) !important;
        }
    }

    .link {
        img {
            width: 40px;
            margin-left: 20px;
            margin-bottom: -5px;
        }
    }

    .gallery {
        &__arrow {
            width: 30px;
            height: 25px;
            display: inline-block;
            cursor: pointer;
            visibility: hidden;
            opacity: 0;
            transition: transform 0.5s $easeToinou;
            &-l {
                transform: rotate(-180deg);
                margin-right: 5px;
                opacity: 0.2;
            }
            &:hover {
                transform: scale(1.05) translateX(-5px) rotate(-180deg) !important;
            }
            &-r {
                // transform: rotate(0deg);
                margin-left: 5px;
                &:hover {
                    transform: scale(1.05) translateX(5px) !important;
                }
            }
        }
    }

    .details {
        &__back {
            display: inline-block;
            vertical-align: middle;
            font-size: 20px;
            text-transform: uppercase;
            cursor: pointer;
            visibility: hidden;
            
            .icon {
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
                width: 20px;
                transform: rotate(180deg);
                transition: transform 0.5s $easeToinou;
            }
            &:hover {
                .icon {
                    transform: scale(1.05) translateX(-10px)  rotate(180deg) !important;
                }
            }
        }
    }

    .context__container {
        transform: translateY(50%);
    }
}