/* ------------------------------------------------------------------ */
/*        TITLE DECLARATION
/* ------------------------------------------------------------------ */

.title {
    // @extend %smooth; // Optionnal
    // @extend %Regular;

    // Variants, can be .title--1 or .title--main
    // if your prefer order your titles by slugs

    &--1 {
		font-size: 4.8rem;
		line-height: 1.6em;
    }

    &--2 {
		font-size: 3.8rem;
		line-height: 1.6em;
		font-style: italic;
    }
}
