.cursor {
	margin: 0 auto;
	display: block;
	width: 70px;
	height: 70px;
	position: absolute;
	transform: translate(-50%,-50%);
	z-index: 9000;
	pointer-events: none;
	@include small-desktop {
		width: 50px;
		height: 50px;
	}
	.c-2 {
		stroke-dasharray: 308%; // 848;
		stroke-dashoffset: 308%; // 713;
		transform: rotate(-90deg);
		transform-origin: 50% 50%;
	}

	text {
		position: absolute;
		top: 50%;
		left: 50%;
		color: white;
		fill: white;
		// stroke: white;
		transform: translate(-50%,-50%);
		text-transform: uppercase;
		font-family: 'Theinhardt-light';
	    font-weight: 300;
	    font-style: normal;
	    letter-spacing: 3px;
		opacity: 0;
	}

	&.is-hover {
		circle {
			stroke-width: 3;
		}
	}

	circle {
		stroke: white;
		stroke-width: 2;
	}

	&.alt circle {
		stroke: black;
	}

	&.menu-open circle {
		stroke: white;
	}

}