.graphic3D {
    // border: 1px solid grey;
    position: relative;
    // margin-top: 100px;
    .container3D {
        // width: 100%;
        // height: 100%;
        // pointer-events: none;
        .css-container {
        	// default settings
        	font-size: 38px;
        	color: white;

        }
        .project__context {
        	max-width: 900px;
        	line-height: 1.4em;
        	z-index: 10;
        	opacity: 0;
            color: white;
            user-select: none;
        }
        .project__image {
        	max-width: 900px;
        	// max-height: 300px;
        	border: 1px solid rgba(128, 128, 128, 0.15);
        	opacity: 0;
            user-select: none;
        	img {
        		width: 100%;
        	}
        }
        .project__btn {
        	cursor: pointer;
        }
    }
}
