.graphic3D {
    border: 1px solid grey;
    position: relative;
    // margin-top: 100px;
    .container3D {
        // width: 100%;
        // height: 100%;
        // pointer-events: none;
        .project__context {
        	max-width: 300px;
        	font-size: 12px;
        	line-height: 1.4em;
        	z-index: 10;
        	opacity: 0;
        }
        .project__image {
        	max-width: 300px;
        	max-height: 300px;
        	border: 1px solid rgba(128, 128, 128, 0.15);
        	opacity: 0;
        	img {
        		width: 100%;
        	}
        }
    }
}
