.preload {
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9000;
	overflow: hidden;

	&__bars {
		position: relative;
		width: 15.0rem;
		height: 2px;
		background-color: white;
		margin: 0 auto;
		margin-top: 2.5rem;
	}

	&__bar {
		position: absolute;
		width: 0%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: black;
	}

	&__wrapper {
		position: relative;

		&.start-fs {
			pointer-events: auto;
			font-size: 1.6rem;
	    	letter-spacing: 0.2em;
	    	text-transform: uppercase;
	    	font-family: 'Theinhardt';
		    font-weight: normal;
		    font-style: normal;
		}

	}

	&__txt {
		// position: absolute;
		text-align: center;
		font-size: 1.2rem;
		text-transform: uppercase;
    	letter-spacing: 0.2em;
    	margin-top: 2.5rem;
    	font-family: 'Theinhardt';
	    font-weight: normal;
	    font-style: normal;
	    opacity: 0;
	}

	&__symbol {
		color: black;
		font-size: 2rem;
		pointer-events: auto;
		cursor: pointer;

		svg polyline,
		svg circle {
			stroke: black;
		}
		svg {
			margin: 0 auto;
			display: block;
			width: 7.0rem;
			height: 7.0rem;
			position: relative;
			transform: rotate(-90deg);
			// cursor: pointer;
			.close-up {
				stroke-dasharray: 635; // !
				stroke-dashoffset: 1270;
			}
			.close-down {
				stroke-dasharray: 635; // !
				stroke-dashoffset: 2110;
			}

		}
	}

}