.webGl  {
    position: relative;
    color: $color-white;
    display: none;

    .css-container {
        // default css container settings
        font-size: 28px;
        user-select: none;
    }
}


