.webGl  {
    position: relative;
    color: $color-white;

    .css-container {
        // default css container settings
        font-size: 28px;
        user-select: none;
    }

    &__canvas {
    	background: url(../images/textures/project-4.jpg); 
    	background-size: cover;
    }
}


