.xp {
    text-align: center;
    display: none;

}

.test-svg {
	margin: 0 auto;
	display: block;
	width: 50px;
	height: 50px;
	position: relative;
	cursor: pointer;

	&.is-live {
		.open-down,
		.open-up {
			stroke-dasharray: 635;
			stroke-dashoffset: 635;
		}
		.close-up {
			stroke-dasharray: 635; // !
			stroke-dashoffset: -840;
		}
		.close-down {
			stroke-dasharray: 635; // !
			stroke-dashoffset: -180;
		}
		.close-down-2 {
			stroke-dasharray: 635; // !
			stroke-dashoffset: 535;
		}
	}

	&.is-close {
		.open-down,
		.open-up {
			stroke-dasharray: 635;
			stroke-dashoffset: 635;
		}
		.close-up {
			stroke-dasharray: 635; // !
			stroke-dashoffset: 0;
		}
		.close-down {
			stroke-dasharray: 635; // !
			stroke-dashoffset: 840;
		}
	}

	&.is-open {

		.open-up {
			stroke-dasharray: 635; // !
			stroke-dashoffset: 0;
		}

		.open-down {
			stroke-dasharray: 635; // !
			stroke-dashoffset: 430;
		}

		.close-up,
		.close-down {
			stroke-dasharray: 635;
			stroke-dashoffset: 635;
		}
	}
}
