.xp {
    text-align: center;
    .frequencies {
        margin: 0px auto;
        display: flex;
        align-self: center;
        justify-content: space-around;
        width: 100%;
        max-width: 900px;
        li {
            display: inline-block;
            text-align: center;
            position: relative;
        }
        .circle {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin: 0px auto;
            position: absolute;
            left: 50%;
            top: 130px;
            transform: translate(-50%, -50%);
        }
        .hight {
            margin: 50px;
            .circle {
                background-color: tomato;
            }
        }
        .medium {
            margin: 50px;
            .circle {
                background-color: lime;
            }
        }
        .low {
            margin: 50px;
            .circle {
                background-color: Steelblue;
            }
        }
    }
    .canvas {
        display: block;
        width: 100%;
        height: 200px;
    }
    .formFtt__title {
        display: inline-block;
    }
    .audio {
        display: inline-block;
        text-align: center;
    }
}
