<div class="glitch__content">
	<p>BMW Motorshow</p>
	<canvas class="glitch__canvas"></canvas>
	<canvas class="glitch__canvas-buffer"></canvas>
	<canvas class="glitch__canvas-alpha-buffer" ></canvas>
</div>