<div class="intro__glitch">
	<canvas class="glitch__canvas"></canvas>
	<canvas class="glitch__canvas-buffer"></canvas>
	<canvas class="glitch__canvas-alpha-buffer"></canvas>
</div>
<!-- 				<div class="mixin-center full-width">
	<h1 class="title--1">Robin Payot</h1>
	<h2 class="title--2">Interactive Developer</h2>
</div> -->
<!-- <a class="button" href="#project-0">Start</a> -->
<a href="#project-0" class="start">
	<svg class="is-close" viewBox="-744.2 -565.3 2098 2098" x="0px" y="0px">
		<polyline class="open-up" fill="none" stroke="#000000" stroke-width="83" stroke-miterlimit="10" points="-2.3,483.7 319.6,482.2 535.9,265.9 "/>
		<polyline class="close-down" fill="none" stroke="#000000" stroke-width="83" stroke-miterlimit="10" points="612,484.7 290.1,483.7 72.1,698.4 "/>
		<polyline class="close-up" fill="none" stroke="#000000" stroke-width="83" stroke-miterlimit="10" points="72.1,257.2 300.7,483.7 606.7,483.7 "/>
		<polyline class="open-down" fill="none" stroke="#000000" stroke-width="83" stroke-miterlimit="10" points="534,710.2 305.6,483.7 -0.5,483.7 "/>
		<circle fill="none" stroke="#000000" stroke-width="55" stroke-miterlimit="10" cx="304.8" cy="483.7" r="1021.5"/>
	</svg>
	<p>start</p>
</a>
<div class="intro__overlay"></div>