<div class="menu__button">
	<svg class="is-close" viewBox="-744.2 -565.3 2098 2098" x="0px" y="0px">
		<polyline class="open-up" fill="none" stroke="#000000" stroke-width="83" stroke-miterlimit="10" points="-2.3,483.7 319.6,482.2 535.9,265.9 "/>
		<polyline class="close-down" fill="none" stroke="#000000" stroke-width="83" stroke-miterlimit="10" points="612,484.7 290.1,483.7 72.1,698.4 "/>
		<polyline class="close-up" fill="none" stroke="#000000" stroke-width="83" stroke-miterlimit="10" points="72.1,257.2 300.7,483.7 606.7,483.7 "/>
		<polyline class="open-down" fill="none" stroke="#000000" stroke-width="83" stroke-miterlimit="10" points="534,710.2 305.6,483.7 -0.5,483.7 "/>
		<circle fill="none" stroke="#000000" stroke-width="55" stroke-miterlimit="10" cx="304.8" cy="483.7" r="1021.5"/>
	</svg>
	<div class="navigate">navigate</div>
</div>

<div class="menu__links">
	<div class="menu__link">
		<a href="#intro" class="title--3">Intro</a>
	</div>
	<div class="menu__link">
		<div class="title--3">Projects</div>
		<ul class="menu__sublinks">
			{{#each projects}}
				<a href="#{{this.slug}}" class="menu__sublink" data-color="{{this.color}}">
					<div>
						<span class="menu__nb"><span class="menu__color">0{{math @index '+' 1}}</span></span><span class="menu__subtitle">{{this.title}}</span>
					</div>
				</a>
			{{/each}}
		</ul>
	</div>
	<div class="menu__link">
		<a href="#about" class="title--3">About</a>
	</div>
</div>
<div class="menu__overlay"></div>
