/* ------------------------------------------------------------------ */
/*        YOUR PROJECT NAME
/* ------------------------------------------------------------------ */

// Import core
@import "core/import";

// Add the layout dependencies here
@import "layouts/grid";
@import "layouts/body";
@import "layouts/overlay";
// @import "layouts/header";
// @import "layouts/footer";

// Typography
@import "typography/font-face";
@import "typography/titles";
@import "typography/subtitles";

// Add your components here
@import "components/buttons";
@import "components/xp";
@import "components/webGl";
@import "components/graphicBars";
@import "components/jauge";
@import "components/glitch";

// View 3D
@import "views/intro";
@import "views/project";
@import "views/about";

// UI
@import "ui/ui";

a {
	text-decoration: none;
	color: white;
}
