&.is-about {
	color: $color-black;
	line-height: 1.4em;
	z-index: 10;
	text-align: left;
	user-select: none;
	font-size: 1.2rem;
	width: calc(100vw - 36vw);
	// height: 100%;
	left: 50%;
	transform: translateX(-50%);
	// max-width: 1000px;
	position: absolute;

	p, li {
		font-size: 1.2em;
		line-height: 2em;
		color: black;
		@include mobile {
			line-height: 1.6em;
		}
	}
	.socials {

		li {
			display: inline-block;
			color: black;
			margin-right: 2em;
			line-height: 1.4em;
		}

		a span {
			bottom: 0px;
		}
	}
	.strong {
		font-family: 'Theinhardt-medium';
	    font-weight: 500;
	    font-style: normal;
	}

	a {
        opacity: 1;
        position: relative;
        display: inline-block;
		color: black;
		pointer-events: auto;

        span {
            position: absolute;
            bottom: 4px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: black;
            pointer-events: none;
        }
    }

    .about {
		&__intro {
			width: 41.0rem;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			display: none;

			@include mobile {
				width: 100%;
			}
		}

		&__title {
			font-size: 3.4em;
			line-height: 1.8em;
			display: inline-block;

		}
	    &__more,
	    &__back {
	    	display: inline-block;
	    	font-size: 0.8em;
	    	left: 0px;
	    	padding-left: 0px;
	    	margin: 20px 0;
	    	letter-spacing: 2px;
	    	font-family: 'Theinhardt';
			opacity: 1;
			pointer-events: auto;
			position: relative;

			.line {
				position: absolute;
				width: 0px;
				height: 1px;
				background-color: black;
				left: 0px;
				top: 42%;
			}
	    }

	    &__back {
	    	margin-bottom: 36px;
	    }

	    &__works {
	    	position: absolute;
	    	top: 50%;
	    	left: 50%;
	    	transform: translate(-50%, -50%);
			width: 100%;
			display: none;

	    }

	    &__work {

	    	margin-bottom: 3.6rem;
			
			&__top {
		    	display: flex;
		    	align-items: center;
		    	justify-content: space-between;		
		    	font-size: 2em;
		    	line-height: 2rem;
				@include mobile {
					font-size: 1.7em;
					line-height: 1em;
				}
			}

			p {
				font-size: 1.4rem;
				font-family: 'Theinhardt-light';
				font-weight: 300;

			}

			// padding: 0 20vw;
	    	span {
	    		margin-right: 20px;
	    	}

	    	a {
		    	display: flex;
		    	align-items: center;
	    		svg {
				 	width: 4.5rem;
					height: 4.5rem;
					position: relative;

					polyline,
					circle {
						stroke: black;
					}
	    			.open-down,
					.open-up {
						stroke-dasharray: 635;
						stroke-dashoffset: 3175; // Fix safari issue : It doesn't like negative dash-offset
					}
					.close-up {
						stroke-dasharray: 635; // !
						stroke-dashoffset: 1700;
					}
					.close-down {
						stroke-dasharray: 635; // !
						stroke-dashoffset: 2360;
					}
					.close-down-2 {
						stroke-dasharray: 635; // !
						stroke-dashoffset: 3075;
					}
	    		}

	    	}
	    }
    }

}