.footer {
	position: absolute;
	left: 7vw;
	bottom: 5rem;
	z-index: 100;

	@include mobile-portrait {
	    left: 97vw;
	    top: 8vw;
	    transform: rotate(90deg);
	    transform-origin: 0% 0%;
	    display: inline-block;
	    bottom: auto;
	}

	@include tablet {
		bottom: 2rem;
	}

	&.content-open {
		// @include mobile-portrait {
		// 	background: linear-gradient(to top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 93%,rgba(0,0,0,0) 100%);
		// }

		// @include tablet {
		// 	background: linear-gradient(to top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 93%,rgba(0,0,0,0) 100%);
		// }
	}

	ul {
		display: flex;
		align-items: center;
		line-height: 1;

		@include mobile-portrait {
			justify-content: space-around;
			height: 7rem;
		}

		@include tablet {
			justify-content: space-around;
			height: 7rem;
		}

		li {
			display: inline-block;
			vertical-align: middle;
			
			pointer-events: auto;
			margin: 0 1rem;
			
	    	letter-spacing: 1px;
			font-family: 'Theinhardt-light';
			font-weight: 300;
	    	font-size: 1.4rem;

			@include tablet {
				margin: 0 1rem;
			}

			@include mobile-portrait {
				font-size: 1.5rem;
			}

			&.sound {
				position: relative;
				overflow: hidden;
				width: 2rem;
				height: 2rem;
				opacity: 0.7;
				transition: opacity 0.5s ease;

				@include mobile-portrait {
					transform: rotate(-90deg);
				}
				.is-touch & {
					opacity: 1;
				}
				svg {
					width: 12rem;
					stroke-width: 3;
					height: 2rem;
					// position: absolute;
					// left: 0;
					// top: 50%;
					// transform: translateY(-50%);
				}

				span {
					width: 12rem;
					position: absolute;
					left: 0%;
					display: flex;
					align-items: center;
					height: 100%;
					transition: left 1.5s $Power1EaseInOut;
					background: url(../images/icons/wave-01.svg);
					z-index: 1;
					pointer-events: auto;

					// &::before {
					// 	content: '';
					// 	position: absolute;
					// 	top: 0%;
					// 	left: 0%;
					// 	height: 100%;
					// 	width: 100%;
					// 	background-color: blue;
					// 	z-index: -1;
					// }
				}

				&.off span {
					left: -470%;
					transition: left 1.5s $Power1EaseOut;
				}

				body:not(.is-touch) & {
					&:hover {
						opacity: 1;
					}
				}
			}

			&.plus {
				display: flex;
				align-items: center;
				svg {
					height: 1.4rem;
				}

				&.is-hide {
					opacity: 0;
				}
			}

			.plus__icon {
				width: 1.8rem;
				height: 1.8rem;
				position: relative;
				display: flex;
				align-items: center;
				// background-color: green;
				height: 100%;
				margin-right: 1rem;
				opacity: 0.5;
				transition: transform 1s $ExpoEaseOut, opacity 0.5s ease;

				body:not(.is-touch) & {
					&:hover {
						opacity: 1;
					}
				}

				line {
					stroke: black;
					stroke-width: 3;
					opacity: 1;
				}

				.is-touch & {
					display: none;
				}
			}

			.socials {
				height: 2rem;
				display: inline-flex;
				align-items: center;
				vertical-align: middle;
				pointer-events: auto;
				margin: 0 0.5rem;
		    	letter-spacing: 1px;
				font-family: 'Theinhardt-light';
				font-weight: 300;
		    	font-size: 1.4rem;
				opacity: 0;
				transition: transform 1s $ExpoEaseOut, opacity 0.2s linear;
				transform: translateX(-80%);

				a {
					color: black;
				}
				

				body:not(.is-touch) & {
					&:hover {
						opacity: 1;
					}
				}

			}
			svg {
				width: 2rem;
				fill: black;
				@include tablet {
					width: 2.1rem;
				}

			}

			.is-touch &,
			.is-open,
			&:hover {
				.plus__icon {
					transform: rotate(135deg);
				}
				.socials {
					transform: translateX(0%);
					opacity: 0.7;
				}
				
			}

			.is-touch & {
				.socials {
					opacity: 1;
				}
			}

		}
	}

}

.is-project + .footer ul li svg {
	fill: white;

	path,
	line {
		stroke: white;
	}
}

.is-project + .footer .socials a {
	color: white;
}

.is-about + .footer .socials {
	@include tablet {
		display: none;
	}
}
