&-intro {
	display: none;
	text-transform: uppercase;
	
	& > div:first-child {
		z-index: 1;
	}
	.start {
		@include center;
		color: black;
		font-size: 2rem;
		pointer-events: auto;
		display: none;
		cursor: pointer;
		letter-spacing: 0.4em;

		p {
			font-size: 0.8rem;
	    	letter-spacing: 4px;
	    	margin-right: -4px;
	    	margin-top: 15px;
	    	font-family: 'Theinhardt-regular';
		    font-weight: normal;
		    font-style: normal;
		    opacity: 0;
		}
		svg polyline,
		svg circle {
			stroke: black;
		}
		svg {
			margin: 0 auto;
			display: block;
			width: 50px;
			height: 50px;
			position: relative;
			transform: rotate(-90deg);
			// cursor: pointer;
			circle {
				transform-origin: 75% 75%;
			}

			&.is-close {
				.open-down,
				.open-up {
					stroke-dasharray: 635;
					stroke-dashoffset: 635;
				}
				.close-up {
					stroke-dasharray: 635; // !
					stroke-dashoffset: 0;
				}
				.close-down {
					stroke-dasharray: 635; // !
					stroke-dashoffset: 840;
				}
			}

			&.is-open {

				.open-up {
					stroke-dasharray: 635; // !
					stroke-dashoffset: 0;
				}

				.open-down {
					stroke-dasharray: 635; // !
					stroke-dashoffset: 430;
				}

				.close-up,
				.close-down {
					stroke-dasharray: 635;
					stroke-dashoffset: 635;
				}
			}
		}
	}

	&__overlay {
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		background-color: white;
		opacity: 0;
		z-index: 0;


	}
}