.menu {
	position: relative;
	display: none;
	height: 100%;
	align-items: center;
	padding: 0 7vw;
	
	// justify-content: space-between;

	color: white;
	&.is-active {
		display: flex;
	}

	&.alt {
		.menu {
			&__button {

				svg polyline,
				svg circle {
					stroke: black;
				}

			}
		}
	}

	&.is-open {
		.menu {
			&__button {
				color: white;
				border-color: white;
			}
			&__overlay {
				opacity: 0.85;
			}
			&__links {
				opacity: 1;
				pointer-events: auto; 
			}
		}

	}

	a {
		display: block;
	}



	&__button {
		position: absolute;
		top: 50%;
		left: 7vw;
		transform: translateY(-50%);

		pointer-events: auto;
		svg polyline,
		svg circle {
			stroke: white;
		}
		svg {
			margin: 0 auto;
			display: block;
			width: 50px;
			height: 50px;
			position: relative;
			// cursor: pointer;
			circle {
				transform-origin: 75% 75%;
			}

			&.is-close {
				.open-down,
				.open-up {
					stroke-dasharray: 635;
					stroke-dashoffset: 635;
				}
				.close-up {
					stroke-dasharray: 635; // !
					stroke-dashoffset: 0;
				}
				.close-down {
					stroke-dasharray: 635; // !
					stroke-dashoffset: 840;
				}
			}

			&.is-open {

				.open-up {
					stroke-dasharray: 635; // !
					stroke-dashoffset: 0;
				}

				.open-down {
					stroke-dasharray: 635; // !
					stroke-dashoffset: 430;
				}

				.close-up,
				.close-down {
					stroke-dasharray: 635;
					stroke-dashoffset: 635;
				}
			}
		}
	}

	&__links {
		position: absolute;
		display: flex;
		left: 27.5vw;

		opacity: 0;
		// cursor: pointer;

		transition: opacity 0.5s ease;

	}

	&__link {
		margin-right: 10vw;
		text-align: left;
		
		.title--3 {
			opacity: 0.5;
			transition: opacity 0.2s ease;
			&:hover {
				opacity: 1;
			}
		}

		&.is-active {
			.title--3 {
				opacity: 1;
			}
		}
	}

	&__sublinks {
		position: absolute;
		top: 5em;
		font-family: 'Theinhardt-light';
	}

	&__sublink {
		margin-bottom: 15px;
		opacity: 0.5;
		font-size: 0.8rem;
		transition: opacity 0.2s ease;
		&.is-active {
			opacity: 1;
		}
		&:hover {
			opacity: 1;
		}
	}

	&__nb {
		margin-right: 5px;
	}

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: black;
		z-index: -1;
		opacity: 0;

		transition: opacity 0.5s ease;
	}




}