.menu {
	position: relative;
	display: none;
	height: 100%;
	align-items: center;
	padding: 0 7vw;
	
	z-index: 900;

	color: white;
	&.is-active {
		display: flex;
	}

	&.alt {
		.menu {
			&__button {

				svg polyline,
				svg circle {
					stroke: black;
				}

			}
		}
	}

	&.is-open {
		.menu {
			&__button {
				color: white;
				border-color: white;
				svg polyline,
				svg circle {
					stroke: white;
				}
			}
			&__overlay {
				opacity: 0.9;
			}
			&__links {
				opacity: 1;
				pointer-events: auto; 
			}
		}

	}

	a {
		display: block;
	}



	&__button {
		position: absolute;
		top: 50%;
		left: 7vw;
		transform: translateY(-50%);

		pointer-events: auto;
		svg polyline,
		svg circle {
			stroke: white;
		}
		svg {
			margin: 0 auto;
			display: block;
			width: 70px;
			height: 70px;
			position: relative;
			// cursor: pointer;
			@include small-desktop {
				width: 50px;
				height: 50px;
			}
			circle {
				transform-origin: 75% 75%;
			}

			&.is-close {
				.open-down,
				.open-up {
					stroke-dasharray: 635;
					stroke-dashoffset: 635;
				}
				.close-up {
					stroke-dasharray: 635; // !
					stroke-dashoffset: 0;
				}
				.close-down {
					stroke-dasharray: 635; // !
					stroke-dashoffset: 840;
				}
			}

			&.is-open {

				.open-up {
					stroke-dasharray: 635; // !
					stroke-dashoffset: 0;
				}

				.open-down {
					stroke-dasharray: 635; // !
					stroke-dashoffset: 430;
				}

				.close-up,
				.close-down {
					stroke-dasharray: 635;
					stroke-dashoffset: 635;
				}
			}
		}
	}

	&__links {
		position: absolute;
		display: flex;
		left: 29vw;

		opacity: 0;
		// cursor: pointer;

		transition: opacity 0.5s ease;
		@include small-desktop {
			left: 27.5vw;
		}
	}

	&__link {
		margin-right: 10vw;
		text-align: left;
		// overflow: hidden;
		.title--3 {
			color: rgba(255,255,255,0.5);
			transition: color 0.2s ease;
			&:hover {
				// color: rgba(255,255,255,1);
			}
		}

		&.is-active {
			.title--3 {
				color: rgba(255,255,255,1);
			}
		}
	}

	&__sublinks {
		position: absolute;
		top: 5em;
		font-family: 'Theinhardt-light';
	    font-weight: 300;
	    font-style: normal;
	}

	&__sublink {
		margin: 1em 0;
		opacity: 0.5;
		font-size: 1rem;
		line-height: 1.6em;
		transition: opacity 0.2s ease;
		// overflow: hidden;
		display: inline-block;
		vertical-align: middle;

		.menu__subtitle {
			transition: margin 0.5s $easeToinou;
		}

		&:first-child{
			margin-top: 1.4em;
		}
		&.is-active {
			opacity: 1;
			.menu__subtitle {
				margin-left: 1.5em;
			}
			// .color {
			// 	&-red {
			// 		color: #EF1300;
			// 	}

			// 	&-blue {
			// 		color: #53E1FF;
			// 	}

			// 	&-pink {
			// 		color: #EF489C;
			// 	}

			// 	&-green {
			// 		 color: #1FB04C;
			// 	}
			// }
		}
		&:hover {
			// opacity: 1;
			.menu__subtitle {
				margin-left: 1.5em;
			}
			.color {
				&-red {
					color: #EF1300;
				}

				&-blue {
					color: #53E1FF;
				}

				&-pink {
					color: #EF489C;
				}

				&-green {
					 color: #1FB04C;
				}
			}
		}
	}

	&__nb {
		margin-right: 5px;
	}

	&__color {
		transition: color 0.2s ease;
		color: white;
	}

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: black;
		z-index: -1;
		opacity: 0;

		transition: opacity 0.5s ease;
	}




}