$project3D-w : 1075px;

&.is-project {
	color: $color-white;
	line-height: 1.4em;
	z-index: 10;
	text-align: left;
	user-select: none;
	font-size: 1.4rem;
	width: calc(100vw - 36vw);
	// height: 100%;
	left: 50%;
	transform: translateX(-50%);
	max-width: 1000px;

	.project {

		&.alt {
		    color: $color-black;
		    .icon {
		        fill: $color-black;
		    }
		}

	    .icon {
	        fill: $color-white;
	    }

	    &__container {
	    	width: 100%;
	    	position: absolute;
	    	top: 35%;
	    	pointer-events: auto;
	        line-height: 1.4em;
	        z-index: 10;
	        text-align: left;
	        user-select: none;
	        opacity: 0;
	        display: none;
	    }

	    &__header {
	    	width: 100%;
	    	display: flex;
			justify-content: space-between;
	    	align-items: baseline;
	    	margin-bottom: 2.0rem;

	    }

	    &__date {
	    	color: $color-grey;
	    }

	    &__descr {
	    	width: 100%;
	    	line-height: 2em;
	    	font-family: 'Theinhardt-light';
		    font-weight: 300;
		    font-style: normal;
	    }

	    &__subHeader {
	    	width: 100%;
	    	display: flex;
			justify-content: flex-start;
			align-items: center;
			margin-top: 3.0rem;

			font-family: 'Theinhardt-light';
		    font-weight: 300;
		    font-style: normal;
	    }

	    &__role,
	    &__technos,
	    &__context {
	    	width: 20%;

	    	p:first-child {
				margin-bottom: 1.0rem;
	    	}

	    	p:last-child {
	    		color: $color-grey;
	    	}
	    }

	    &__link {
	    	width: 40%;
	    	display: flex;
	    	justify-content: flex-end;
	    	align-items: center;

	    	span {
	    		margin-right: 2.0rem;
	    	}

	    	a {

	    		svg {
				 	width: 4.5rem;
					height: 4.5rem;
					position: relative;

					circle {
						transform-origin: 75% 75%;
					}
					polyline,
					circle {
						stroke: white;
					}
	    			.open-down,
					.open-up {
						stroke-dasharray: 635;
						stroke-dashoffset: 635;
					}
					.close-up {
						stroke-dasharray: 635; // !
						stroke-dashoffset: -840;
					}
					.close-down {
						stroke-dasharray: 635; // !
						stroke-dashoffset: -180;
					}
					.close-down-2 {
						stroke-dasharray: 635; // !
						stroke-dashoffset: 535;
					}
	    		}

	    	}
	    }

	    &__gallery {
	    	margin-top: 10.0rem;
	    	margin-bottom: 6.0rem;
	    	position: relative;
	        width: 100%;
	    }

	    &__image {
			width: 100%;
	        // max-height: 300px;
	        opacity: 0.9;
	        user-select: none;
	        visibility: hidden;
	        margin-bottom: 4.0rem;
	        transform-origin: 0% 0%;

	        img {
	            width: 100%;
	            border: 1px solid rgba(128, 128, 128, 0.15);
	            transform-origin: 0% 0%;
	        }
	    }

	    &__btn {
	        // cursor: pointer;
	    }

	    &__footer {
	    	opacity: 0;
	    	display: flex;
	    	justify-content: space-between;
	    	align-items: baseline;
	    	font-size: 0.8em;
	    	text-align: left;
	    	width: 100%;
	    	// transform: translateY(50%);
	    }

		&__awards {
			color: $color-grey;
		}

		&__back {
			display: none;
			position: absolute;
			top: 18.0rem;
			left: 50%;
			transform: translateX(-50%);
			text-align: center;
			text-transform: uppercase;

			.button {
				text-transform: none;
				margin-top: 2.0rem;
			}
		}

	    .link {
	        img {
	            width: 4.0rem;
	            margin-left: 20px;
	            margin-bottom: -5px;
	        }
	    }

	    .gallery {
	        &__arrow {
	            width: 25px;
	            height: 35px;
	            display: inline-block;
	            visibility: hidden;
	            opacity: 0;
	            transition: transform 0.5s $easeToinou;
	            &-l {
	                transform: rotate(-180deg);
	                margin-right: 5px;
	                opacity: 0.2;
	            }
	            &:hover {
	                transform: scale(1.05) translateX(-5px) rotate(-180deg) !important;
	            }
	            &-r {
	                // transform: rotate(0deg);
	                margin-left: 5px;
	                &:hover {
	                    transform: scale(1.05) translateX(5px) !important;
	                }
	            }
	        }
	    }

	    // .details {
	    //     &__back {
	    //         display: inline-block;
	    //         vertical-align: middle;
	    //         font-size: 20px;
	    //         text-transform: uppercase;
	    //         cursor: pointer;
	    //         visibility: hidden;
	            
	    //         .icon {
	    //             display: inline-block;
	    //             vertical-align: middle;
	    //             margin-right: 10px;
	    //             width: 20px;
	    //             transform: rotate(180deg);
	    //             transition: transform 0.5s $easeToinou;
	    //         }
	    //         &:hover {
	    //             .icon {
	    //                 transform: scale(1.05) translateX(-10px)  rotate(180deg) !important;
	    //             }
	    //         }
	    //     }
	    // }


	}

	.scroll {
		position: fixed;
		color: white;
		bottom: 20vh;
		left: 50%;
		transform: translateX(-50%);
    	letter-spacing: 2.5px;
    	font-family: 'Theinhardt-light';
	    font-weight: normal;
	    font-style: normal;
	    text-transform: uppercase;
	    font-size: 1rem;
	    opacity: 0;

	    .scrolled & {
	    	display: none;
	    }

	}
}