$project3D-w : 1075px;

&.is-project {
	color: $color-white;
	line-height: 1.4em;
	z-index: 10;
	text-align: left;
	user-select: none;
	font-size: 1.5rem;
	letter-spacing: 0.06rem;
	.project {

		&.alt {
			color: $color-black;
			.icon {
				fill: $color-black;
			}
		}

		.icon {
			fill: $color-white;
		}

		&__container {
			width: 100%;
			position: absolute;
			top: 35%;
			pointer-events: auto;
			line-height: 1.4em;
			z-index: 10;
			text-align: left;
			user-select: none;
			opacity: 0;
			display: none;
			width: calc(100vw - 36vw);
			// height: 100%;
			left: 50%;
			transform: translateX(-50%);
			max-width: 1300px;
		}

		&__header {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: baseline;
			margin-bottom: 2.0rem;

		}

		&__date {
			color: $color-grey;
		}

		&__descr {
			width: 100%;
			line-height: 2em;
			font-family: 'Theinhardt-light';
			font-weight: 300;
			font-style: normal;
		}

		&__subHeader {
			width: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin-top: 3.0rem;

			font-family: 'Theinhardt-light';
			font-weight: 300;
			font-style: normal;
		}

		&__role,
		&__technos,
		&__context {
			width: 20%;

			p:first-child {
				margin-bottom: 1.0rem;
			}

			p:last-child {
				color: $color-grey;
				white-space: nowrap;
			}
		}

		&__link {
			width: 40%;
			display: flex;
			justify-content: flex-end;
			align-items: center;

			span {
				margin-right: 2.0rem;
			}

			a {

				svg {
					width: 4.5rem;
					height: 4.5rem;
					position: relative;

					polyline,
					circle {
						stroke: white;
					}
					.open-down,
					.open-up {
						stroke-dasharray: 635;
						stroke-dashoffset: 3175; // Fix safari issue : It doesn't like negative dash-offset
					}
					.close-up {
						stroke-dasharray: 635; // !
						stroke-dashoffset: 1700;
					}
					.close-down {
						stroke-dasharray: 635; // !
						stroke-dashoffset: 2360;
					}
					.close-down-2 {
						stroke-dasharray: 635; // !
						stroke-dashoffset: 3075;
					}
				}

			}
		}

		&__gallery {
			margin-top: 10.0rem;
			margin-bottom: 6.0rem;
			position: relative;
			width: 100%;

			@include mobile {
				margin-top: 3.0rem;
				margin-bottom: 3.0rem;
			}
		}

		&__image {	        

			img {
				width: 100%;
				border: 1px solid rgba(128, 128, 128, 0.15);
				transform-origin: 0% 0%;
			}
		}

		&__video {

			video {
				width: 100%;
			}
		}

		&__item {
			width: 100%;
			visibility: hidden;
			margin-bottom: 7.0rem;
			user-select: none;
			opacity: 0;
			transition: opacity 0.6s linear,  transform 1.2s $ExpoEaseOut;
			transform: scaleY(2) translateY(80px);
			transform-origin: 0% 0%;

			@include mobile {
				transition: opacity 1s linear,  transform 1.6s $ExpoEaseOut;
				 margin-bottom: 2.0rem;
			}
			

			&.is-visible {
				transform: scaleY(1) translateY(0px);
				opacity: 1;
			}
		}

		&__btn {
			// cursor: pointer;
		}

		&__footer {
			opacity: 0;
			display: flex;
			justify-content: space-between;
			align-items: baseline;
			font-size: 1em;
			text-align: left;
			width: 100%;
			// transform: translateY(50%);
		}

		&__awards {
			color: $color-grey;
		}

		&__back {
			display: none;
			opacity: 0;
			visibility: hidden;

			align-items: center;
			justify-content: center;

			position: absolute;
			top: calc(35% + 12px);
			left: 7vw;
			pointer-events: auto;

			p {
				padding-left: 15px;
				margin-right: -1.5px;

				text-transform: uppercase;
				letter-spacing: 1.5px;
				font-family: 'Theinhardt-light';
				font-weight: normal;
				font-style: normal;
				font-size: 1rem;

				&:after {
					content: '';
					position: absolute;
					width: 10px;
					height: 1px;
					background-color: white;
					left: 0px;
					top: 43%;
					transform: translateY(-50%);
				}
			}


			.is-touch & {
				display: flex;
			}
		}


		.link {
			img {
				width: 4.0rem;
				margin-left: 20px;
				margin-bottom: -5px;
			}
		}

		.gallery {
			&__arrow {
				width: 25px;
				height: 35px;
				display: inline-block;
				visibility: hidden;
				opacity: 0;
				transition: transform 0.5s $easeToinou;
				&-l {
					transform: rotate(-180deg);
					margin-right: 5px;
					opacity: 0.2;
				}
				&:hover {
					transform: scale(1.05) translateX(-5px) rotate(-180deg) !important;
				}
				&-r {
					// transform: rotate(0deg);
					margin-left: 5px;
					&:hover {
						transform: scale(1.05) translateX(5px) !important;
					}
				}
			}
		}


		&__socials {
			position: absolute;
			right: 5rem;
			bottom: 5rem;
			ul li {
				display: inline-block;
				vertical-align: middle;
				opacity: 0.5;
				pointer-events: auto;
				margin: 0 0.5rem;
				transition: opacity 0.5s ease;

				svg {
					width: 1.6rem;
					fill: white;

				}

				&:hover {
					opacity: 1;
				}
			}
		}

	}

	.scroll {
		position: fixed;
		color: white;
		bottom: 5rem;
		left: 50%;
		transform: translateX(-50%);
		letter-spacing: 2.5px;
		font-family: 'Theinhardt-light';
		font-weight: normal;
		font-style: normal;
		text-transform: uppercase;
		font-size: 1rem;
		opacity: 0;

		.scrolled & {
			display: none;
		}

	}
}