html {
	font-family: 'Theinhardt';
    line-height:$base-line-height;
    font-size: 12px; // > 1920
	@include desktop { // 1900
		font-size: 12px;
	}
	@include small-desktop { // 1440 --> BASE
		font-size: 10px;
	}
	@include tablet { // 
		font-size: 9px;
	}
	@include mobile {
		font-size: 8px;
	}

}

body {


	overflow: hidden;
    cursor:none !important;
    a {
    	cursor: none !important;
    }

}

.dg.ac {
	z-index: 9000 !important;
}