/* ------------------------------------------------------------------ */
/*        DEFAULT GRID
/* ------------------------------------------------------------------ */

// This is a default grid for your project,
// if you want to use a custom one, don't
// erase the file but create a new one. For example:
// layout/_grid--myproject.scss

// You have :
//     - .row
//     - .column
//     - .column--{size}
//     - .column--centered (center the column)
//     - .column--collapse (no padding on this column)
//     - .row--collapse (collapsing all columns of the row)
//     - .row--fluid (use table instead)

// You can uncomment the last part to get access of
// prepend/append/push/pull

// Grid configuration
$grid-cols        : 12;
$grid-gutter      : 24px;
$grid-semi-gutter : $grid-gutter / 2;
$grid-max-width   : 1140px + $grid-gutter;
$grid-width       : 100%;
$grid-min-width   : 728px;

body {
    min-width: $grid-min-width;
}

%row {
    @include position();
    width: $grid-width;
    max-width: $grid-max-width;
    min-width: $grid-min-width;
    margin-left: auto;
    margin-right: auto;
}

.row {
    @extend %clearfix;
    @extend %row;

    .row {
        width: auto;
        max-width: none;
        min-width: 0;
        @if $grid-semi-gutter != 0 {
            margin-left: -$grid-semi-gutter;
            margin-right: -$grid-semi-gutter;
        }
    }

    & > .column {
        @extend %border-box;
        float: left;
        position: relative;
        min-height: 1px;

        &--centered {
            float: none;
            margin-left: auto;
            margin-right: auto;
        }

        &--collapse {
            padding-left:0;
            padding-right:0;
        }
    }

    &--collapse {
        margin-left:0 !important;
        margin-right:0 !important;

        & > .column {
            padding-left:0;
            padding-right:0;
        }
    }
}

.column {
    padding-left: $grid-semi-gutter;
    padding-right: $grid-semi-gutter;
}

/* ------------------------------------------------------------------ */
/*        ROW FLUID
/* ------------------------------------------------------------------ */

.row-fluid {
    @extend %row;
    display:table;


    & > .column {
        @extend %border-box;
        float:none;
        display:table-cell;
        padding-left: $grid-semi-gutter;
        padding-right: $grid-semi-gutter;
    }

    .row & {
        width: 100%;
        max-width: none;
        min-width: 0;

        @if $grid-semi-gutter != 0 {
            width: calc(100% + $grid-gutter);
            margin-left: -$grid-semi-gutter;
            margin-right: -$grid-semi-gutter;
        }
    }

    &--top > .column {
        vertical-align:top;
    }

    &--middle > .column {
        vertical-align:middle;
    }

    &--bottom > .column {
        vertical-align:bottom;
    }
}

/* ------------------------------------------------------------------ */
/*        DIMENSIONS
/* ------------------------------------------------------------------ */

@for $i from 1 through 12 {
    .column--#{$i} {
        width:(100% / $grid-cols) * $i;
    }
}

// Augment your grid with append/preprend/push/pull if you need to

// @for $i from 1 through 12 {
//     .prepend-#{$i} {
//         margin-left:(100% / $grid-cols) * $i;
//     }
// }

// @for $i from 1 through 12 {
//     .append-#{$i} {
//         margin-right:(100% / $grid-cols) * $i;
//     }
// }

// @for $i from 1 through 12 {
//     .push-#{$i} {
//         left:(100% / $grid-cols) * $i;
//     }
// }

// @for $i from 1 through 12 {
//     .pull-#{$i} {
//         right:(100% / $grid-cols) * $i;
//     }
// }
