.overlay {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0;
	z-index: 9000;
	pointer-events: none;

	&.black {
		background-color: black;
	}
}