<div class="glitch__content">
	<p>The Forest</p>
	<img  class="glitch__img" src="images/textures/glitch-1.png" alt="">
	<img  class="glitch__img-2" src="images/textures/glitch-2.png" alt="">
	<img  class="glitch__img-3" src="images/textures/glitch-3.png" alt="">
	<canvas class="glitch__canvas"></canvas>
	<canvas class="glitch__canvas-temp"></canvas>

</div>