<!-- <a class="button" href="#project-0">Start</a> -->
<a href="#{{this.slug}}" class="start">
	<svg viewBox="-744.2 -565.3 2098 2098" x="0px" y="0px">
		<polyline class="close-down" fill="none" stroke="#000000" stroke-width="83" stroke-miterlimit="10" points="612,484.7 290.1,483.7 72.1,698.4 "/>
		<polyline class="close-up" fill="none" stroke="#000000" stroke-width="83" stroke-miterlimit="10" points="72.1,257.2 300.7,483.7 606.7,483.7 "/>
		<circle fill="none" stroke="#000000" stroke-width="55" stroke-miterlimit="10" cx="304.8" cy="483.7" r="1021.5"/>
	</svg>
	<p>start</p>
</a>
<div class="intro__overlay"></div>