<div class="project__title">
	<div class="project__number">0{{math id '+' 1}} - 04</div>
	<h1>{{title}}</h1>
	<div class="glitch">
		<canvas class="glitch__canvas"></canvas>
		<canvas class="glitch__canvas-buffer"></canvas>
		<canvas class="glitch__canvas-alpha-buffer"></canvas>
	</div>
	<div class="project__more uppercase"><span>see</span> case study</div>
</div>